.inputCard {
  width: 250px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.inputForm {
  float: left;
}

.results {
  float: left;
}

.resultCard {
  width: 400px;
  margin: 16px;
}

.statistics {
  float: left;
  width: 300px;
  margin: 16px;
}
