<div class="inputForm">
  <mat-card class="inputCard">
  <form>
    <mat-form-field>
    <mat-label>Age</mat-label>
      <input type="number" matInput [formControl]="ageFormControl"
             placeholder="Age">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Occasion</mat-label>
      <mat-select [(value)]="selectOccasion">
        <mat-option value=null>
          None
        </mat-option>
        <mat-option value="PARTY">
          Party
        </mat-option>
        <mat-option value="OFFICE">
          Office
        </mat-option>
        <mat-option value="EVERYDAY">
          Everyday
        </mat-option>
        <mat-option value="DATE">
          Date
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Brand Name</mat-label>
      <input type="text" matInput [formControl]="brandNameFormControl"
             placeholder="Brand name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select [(value)]="selectGender">
        <mat-option value=null>
          None
        </mat-option>
        <mat-option value="MALE">
          Male
        </mat-option>
        <mat-option value="FEMALE">
          Female
        </mat-option>
        <mat-option value="UNISEX">
          Unisex
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Family</mat-label>
      <mat-select [(value)]="selectFamily">
        <mat-option value=null>
          None
        </mat-option>
        <mat-option value="WOODY">
          Woody
        </mat-option>
        <mat-option value="SPICY">
          Spicy
        </mat-option>
        <mat-option value="FLORAL">
          Floral
        </mat-option>
        <mat-option value="AROMATIC">
          Aromatic
        </mat-option>
        <mat-option value="LEATHER">
          Leather
        </mat-option>
        <mat-option value="AQUATIC">
          Aquatic
        </mat-option>
        <mat-option value="CITRUS">
          Citrus
        </mat-option>
        <mat-option value="FRUITY">
          Fruity
        </mat-option>
        <mat-option value="AMBER">
          Amber
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Season</mat-label>
      <mat-select [(value)]="selectSeason">
        <mat-option value=null>
          None
        </mat-option>
        <mat-option value="WINTER">
          Winter
        </mat-option>
        <mat-option value="SPRING">
          Spring
        </mat-option>
        <mat-option value="SUMMER">
          Summer
        </mat-option>
        <mat-option value="AUTUMN">
          Autumn
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Previous cost</mat-label>
        <input type="number" matInput [formControl]="previousCostFormControl"
               placeholder="Previous cost">
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" (click)="search()">Search</button>
  </form>
</mat-card>
</div>

<div class="results">
  <mat-card class="resultCard" *ngFor="let fragrance of fragrances">
    <mat-card-header>
      <mat-card-title>{{fragrance.name}}</mat-card-title>
      <mat-card-subtitle>Score: {{fragrance.score}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><b>Designer:</b> {{fragrance.designer}}</p>
      <p><b>Concentration:</b> {{fragrance.concentration}}</p>
      <p><b>Price:</b> {{fragrance.price}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="statistics" *ngIf="statistics">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{statistics.brandName}} statistics</mat-card-title>
    </mat-card-header>
    <h4><b>Min price:</b> {{statistics.minPrice}}</h4>
    <h4><b>Max price:</b> {{statistics.maxPrice}}</h4>
    <h4><b>Avg price:</b> {{statistics.avgPrice}}</h4>
  </mat-card>
</div>
